In [1]:
import numpy as np
import pandas as pd
from scipy.spatial import distance 
from sklearn.utils import validation
from sklearn.metrics import pairwise
from scipy.sparse import issparse
import random

In [2]:


def _return_float_dtype(X, Y):
    """
    1. If dtype of X and Y is float32, then dtype float32 is returned.
    2. Else dtype float is returned.
    """
    if not issparse(X) and not isinstance(X, np.ndarray):
        X = np.asarray(X)

    if Y is None:
        Y_dtype = X.dtype
    elif not issparse(Y) and not isinstance(Y, np.ndarray):
        Y = np.asarray(Y)
        Y_dtype = Y.dtype
    else:
        Y_dtype = Y.dtype

    if X.dtype == Y_dtype == np.float32:
        dtype = np.float32
    elif X.dtype == np.object and not issparse(X):
        dtype = np.float
        for col in range(X.shape[1]):
            if not np.issubdtype(type(X[0, col]), np.number):
                dtype = np.object
                break
    else:
        dtype = np.float

    return X, Y, dtype


def check_pairwise_arrays(X, Y, precomputed=False, dtype=None):
    X, Y, dtype_float = _return_float_dtype(X, Y)

    warn_on_dtype = dtype is not None
    estimator = 'check_pairwise_arrays'
    if dtype is None:
        dtype = dtype_float


    if Y is X or Y is None:
        X = Y = validation.check_array(X, accept_sparse='csr', dtype=dtype,
                            warn_on_dtype=warn_on_dtype, estimator=estimator)
    else:
        X = validation.check_array(X, accept_sparse='csr', dtype=dtype,
                        warn_on_dtype=warn_on_dtype, estimator=estimator)
        Y = validation.check_array(Y, accept_sparse='csr', dtype=dtype,
                        warn_on_dtype=warn_on_dtype, estimator=estimator)

    if precomputed:
        if X.shape[1] != Y.shape[0]:
            raise ValueError("Precomputed metric requires shape "
                             "(n_queries, n_indexed). Got (%d, %d) "
                             "for %d indexed." %
                             (X.shape[0], X.shape[1], Y.shape[0]))
    elif X.shape[1] != Y.shape[1]:
        raise ValueError("Incompatible dimension for X and Y matrices: "
                         "X.shape[1] == %d while Y.shape[1] == %d" % (
                             X.shape[1], Y.shape[1]))

    return X, Y

In [3]:
def gower_distances(X, Y=None, w=None, categorical_features=None):
    """
    Computes the gower distances between X and Y

    Read more in the :ref:`User Guide <metrics>`.

    Parameters
    ----------
    X : array-like, shape (n_samples, n_features)

    Y : array-like, shape (n_samples, n_features)

    w:  array-like, shape (n_features)
    According the Gower formula, w is an attribute weight.

    categorical_features: array-like, shape (n_features)
    Indicates with True/False wheter a column is a categorical attribute.
    This is useful when categorical atributes are represented as integer
    values.

    Returns
    -------
    similarities : ndarray, shape (n_samples, )

    Notes
    ------
    Gower is a similarity measure for categorical, boolean and numerical mixed
    data.

    """

    X, Y = check_pairwise_arrays(X, Y, dtype=(np.object, None)[issparse(X) or
                                                               issparse(Y)])

    rows, cols = X.shape

    if categorical_features is None:
        categorical_features = []
        for col in range(cols):
            if np.issubdtype(type(X[0, col]), np.number):
                categorical_features.append(False)
            else:
                categorical_features.append(True)
    # Calculates the normalized ranges and max values of numeric values
    ranges_of_numeric = [0.0] * cols
    max_of_numeric = [0.0] * cols
    for col in range(cols):
        if not categorical_features[col]:
            max = None
            min = None
            if issparse(X):
                col_array = X.getcol(col)
                max = col_array.max() + 0.0
                min = col_array.min() + 0.0
            else:
                col_array = X[:, col].astype(np.double)
                max = np.nanmax(col_array)
                min = np.nanmin(col_array)

            if np.isnan(max):
                max = 0.0
            if np.isnan(min):
                min = 0.0
            max_of_numeric[col] = max
            ranges_of_numeric[col] = (1 - min / max) if (max != 0) else 0.0

    if w is None:
        w = [1] * cols

    yrows, ycols = Y.shape

    dm = np.zeros((rows, yrows), dtype=np.double)

    for i in range(0, rows):
        j_start = i

        # for non square results
        if rows != yrows:
            j_start = 0

        for j in range(j_start, yrows):
            sum_sij = 0.0
            sum_wij = 0.0
            for col in range(cols):
                value_xi = X[i, col]
                value_xj = Y[j, col]

                if not categorical_features[col]:
                    if (max_of_numeric[col] != 0):
                        value_xi = value_xi / max_of_numeric[col]
                        value_xj = value_xj / max_of_numeric[col]
                    else:
                        value_xi = 0
                        value_xj = 0

                    if ranges_of_numeric[col] != 0:
                        sij = abs(value_xi - value_xj) / ranges_of_numeric[col]
                    else:
                        sij = 0
                    wij = (w[col], 0)[np.isnan(value_xi) or np.isnan(value_xj)]
                else:
                    sij = (1.0, 0.0)[value_xi == value_xj]
                    wij = (w[col], 0)[value_xi is None and value_xj is None]
                sum_sij += (wij * sij)
                sum_wij += wij

            if sum_wij != 0:
                dm[i, j] = (sum_sij / sum_wij)
                if j < rows and i < yrows:
                    dm[j, i] = dm[i, j]

    return dm

In [4]:
def gower_distances(X, Y=None, w=None, categorical_features=None):
    """
    Computes the gower distances between X and Y

    Read more in the :ref:`User Guide <metrics>`.

    Parameters
    ----------
    X : array-like, shape (n_samples, n_features)

    Y : array-like, shape (n_samples, n_features)

    w:  array-like, shape (n_features)
    According the Gower formula, w is an attribute weight.

    categorical_features: array-like, shape (n_features)
    Indicates with True/False wheter a column is a categorical attribute.
    This is useful when categorical atributes are represented as integer
    values.

    Returns
    -------
    similarities : ndarray, shape (n_samples, )

    Notes
    ------
    Gower is a similarity measure for categorical, boolean and numerical mixed
    data.

    """

    X, Y = check_pairwise_arrays(X, Y, dtype=(np.object, None)[issparse(X) or
                                                               issparse(Y)])

    rows, cols = X.shape

    if categorical_features is None:
        categorical_features = []
        for col in range(cols):
            if np.issubdtype(type(X[0, col]), np.number):
                categorical_features.append(False)
            else:
                categorical_features.append(True)
    # Calculates the normalized ranges and max values of numeric values
    ranges_of_numeric = [0.0] * cols
    max_of_numeric = [0.0] * cols
    for col in range(cols):
        if not categorical_features[col]:
            max = None
            min = None
            if issparse(X):
                col_array = X.getcol(col)
                max = col_array.max() + 0.0
                min = col_array.min() + 0.0
            else:
                col_array = X[:, col].astype(np.double)
                max = np.nanmax(col_array)
                min = np.nanmin(col_array)

            if np.isnan(max):
                max = 0.0
            if np.isnan(min):
                min = 0.0
            max_of_numeric[col] = max
            ranges_of_numeric[col] = (1 - min / max) if (max != 0) else 0.0

    if w is None:
        w = [1] * cols

    yrows, ycols = Y.shape

    dm = np.zeros((rows, yrows), dtype=np.double)

    for i in range(0, rows):
        j_start = i

        # for non square results
        if rows != yrows:
            j_start = 0

        for j in range(j_start, yrows):
            sum_sij = 0.0
            sum_wij = 0.0
            for col in range(cols):
                value_xi = X[i, col]
                value_xj = Y[j, col]

                if not categorical_features[col]:
                    if (max_of_numeric[col] != 0):
                        value_xi = value_xi / max_of_numeric[col]
                        value_xj = value_xj / max_of_numeric[col]
                    else:
                        value_xi = 0
                        value_xj = 0

                    if ranges_of_numeric[col] != 0:
                        sij = abs(value_xi - value_xj) / ranges_of_numeric[col]
                    else:
                        sij = 0
                    wij = (w[col], 0)[np.isnan(value_xi) or np.isnan(value_xj)]
                else:
                    sij = (1.0, 0.0)[value_xi == value_xj]
                    wij = (w[col], 0)[value_xi is None and value_xj is None]
                sum_sij += (wij * sij)
                sum_wij += wij

            if sum_wij != 0:
                dm[i, j] = (sum_sij / sum_wij)
                if j < rows and i < yrows:
                    dm[j, i] = dm[i, j]

    return dm

In [11]:
HotelUnclustered= pd.read_csv("Hotel_Reviews.csv",usecols=[4, 5,7,8,10,11,12,15,16]) 
HotelUnclustered=HotelUnclustered.dropna() 
HotelUnclustered

,Hotel_Name,Reviewer_Nationality,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
0,Hotel Arena,Russia,397,1403,11,7,2.9,52.360576,4.915968
1,Hotel Arena,Ireland,0,1403,105,7,7.5,52.360576,4.915968
2,Hotel Arena,Australia,42,1403,21,9,7.1,52.360576,4.915968
3,Hotel Arena,United Kingdom,210,1403,26,1,3.8,52.360576,4.915968
4,Hotel Arena,New Zealand,140,1403,8,3,6.7,52.360576,4.915968
5,Hotel Arena,Poland,17,1403,20,1,6.7,52.360576,4.915968
6,Hotel Arena,United Kingdom,33,1403,18,6,4.6,52.360576,4.915968
7,Hotel Arena,United Kingdom,11,1403,19,1,10.0,52.360576,4.915968
8,Hotel Arena,Belgium,34,1403,0,3,6.5,52.360576,4.915968
9,Hotel Arena,Norway,15,1403,50,1,7.9,52.360576,4.915968
10,Hotel Arena,United Kingdom,5,1403,101,2,10.0,52.360576,4.915968
11,Hotel Arena,France,75,1403,4,12,5.8,52.360576,4.915968
12,Hotel Arena,United Kingdom,28,1403,6,7,4.6,52.360576,4.915968
13,Hotel Arena,Italy,0,1403,59,6,9.2,52.360576,4.915968
14,Hotel Arena,Canada,35,1403,15,1,8.8,52.360576,4.915968
15,Hotel Arena,Italy,0,1403,82,26,10.0,52.360576,4.915968
16,Hotel Arena,United Kingdom,38,1403,14,8,6.3,52.360576,4.915968
17,Hotel Arena,Ireland,59,1403,64,2,7.5,52.360576,4.915968
18,Hotel Arena,Netherlands,0,1403,33,4,7.1,52.360576,4.915968
19,Hotel Arena,Australia,73,1403,48,16,7.5,52.360576,4.915968
20,Hotel Arena,United Kingdom,40,1403,17,1,6.3,52.360576,4.915968
21,Hotel Arena,France,92,1403,75,12,3.8,52.360576,4.915968
22,Hotel Arena,Germany,364,1403,37,21,5.4,52.360576,4.915968
23,Hotel Arena,Ireland,22,1403,51,1,9.6,52.360576,4.915968
24,Hotel Arena,United Kingdom,3,1403,130,2,9.6,52.360576,4.915968
25,Hotel Arena,United States of America,57,1403,43,4,8.3,52.360576,4.915968
26,Hotel Arena,United Kingdom,51,1403,134,2,9.6,52.360576,4.915968
27,Hotel Arena,France,31,1403,6,25,8.3,52.360576,4.915968
28,Hotel Arena,United States of America,53,1403,22,4,8.3,52.360576,4.915968
29,Hotel Arena,Hungary,24,1403,49,2,9.2,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...
515708,Atlantis Hotel Vienna,Bosnia and Herzegovina,0,2823,22,10,8.8,48.203745,16.335677
515709,Atlantis Hotel Vienna,United States of America,0,2823,13,6,7.9,48.203745,16.335677
515710,Atlantis Hotel Vienna,Iraq,3,2823,5,5,9.2,48.203745,16.335677
515711,Atlantis Hotel Vienna,Hungary,11,2823,8,37,10.0,48.203745,16.335677
515712,Atlantis Hotel Vienna,Israel,11,2823,10,10,8.8,48.203745,16.335677
515713,Atlantis Hotel Vienna,Norway,2,2823,8,1,7.1,48.203745,16.335677
515714,Atlantis Hotel Vienna,United Kingdom,16,2823,14,1,9.6,48.203745,16.335677
515715,Atlantis Hotel Vienna,United Kingdom,8,2823,9,1,8.8,48.203745,16.335677
515716,Atlantis Hotel Vienna,Egypt,8,2823,12,14,7.1,48.203745,16.335677
515717,Atlantis Hotel Vienna,Egypt,0,2823,23,1,7.9,48.203745,16.335677
515718,Atlantis Hotel Vienna,Thailand,4,2823,12,40,9.2,48.203745,16.335677
515719,Atlantis Hotel Vienna,Slovenia,0,2823,5,14,8.3,48.203745,16.335677
515720,Atlantis Hotel Vienna,Croatia,3,2823,9,1,9.2,48.203745,16.335677
515721,Atlantis Hotel Vienna,Hungary,10,2823,8,3,6.7,48.203745,16.335677
515722,Atlantis Hotel Vienna,United Kingdom,19,2823,2,72,6.3,48.203745,16.335677
515723,Atlantis Hotel Vienna,Croatia,0,2823,23,1,8.8,48.203745,16.335677
515724,Atlantis Hotel Vienna,India,0,2823,9,7,8.3,48.203745,16.335677
515725,Atlantis Hotel Vienna,Russia,5,2823,3,30,7.1,48.203745,16.335677
515726,Atlantis Hotel Vienna,Kosovo,21,2823,5,34,5.4,48.203745,16.335677
515727,Atlantis Hotel Vienna,United Kingdom,10,2823,15,12,5.8,48.203745,16.335677
515728,Atlantis Hotel Vienna,Qatar,2,2823,2,1,4.2,48.203745,16.335677
515729,Atlantis Hotel Vienna,Brazil,0,2823,27,7,10.0,48.203745,16.335677
515730,Atlantis Hotel Vienna,Israel,20,2823,3,2,6.7,48.203745,16.335677
515731,Atlantis Hotel Vienna,Germany,12,2823,3,1,7.5,48.203745,16.335677
515732,Atlantis Hotel Vienna,Kuwait,0,2823,18,6,10.0,48.203745,16.335677
515733,Atlantis Hotel Vienna,Kuwait,14,2823,2,8,7.0,48.203745,16.335677
515734,Atlantis Hotel Vienna,Estonia,11,2823,11,12,5.8,48.203745,16.335677
515735,Atlantis Hotel Vienna,Egypt,19,2823,0,3,2.5,48.203745,16.335677
515736,Atlantis Hotel Vienna,Mexico,0,2823,25,3,8.8,48.203745,16.335677
515737,Atlantis Hotel Vienna,Hungary,13,2823,6,1,8.3,48.203745,16.335677

In [12]:
def kMedoids(D, k, tmax=100):
    # determine dimensions of distance matrix D
    m, n = D.shape

    if k > n:
        raise Exception('too many medoids')
    # randomly initialize an array of k medoid indices
    M = np.arange(n)
    np.random.shuffle(M)
    M = np.sort(M[:k])

    # create a copy of the array of medoid indices
    Mnew = np.copy(M)

    # initialize a dictionary to represent clusters
    C = {}
    for t in range(tmax):
        # determine clusters, i. e. arrays of data indices
        J = np.argmin(D[:,M], axis=1)
        for kappa in range(k):
            C[kappa] = np.where(J==kappa)[0]
        # update cluster medoids
        for kappa in range(k):
            J = np.mean(D[np.ix_(C[kappa],C[kappa])],axis=1)
            j = np.argmin(J)
            Mnew[kappa] = C[kappa][j]
        np.sort(Mnew)
        # check for convergence
        if np.array_equal(M, Mnew):
            break
        M = np.copy(Mnew)
    else:
        # final update of cluster memberships
        J = np.argmin(D[:,M], axis=1)
        for kappa in range(k):
            C[kappa] = np.where(J==kappa)[0]

    # return results
    return M, C

In [7]:
def sampleFromDatFrame(inDataFrame, keyWord, sampleRatio = 0.01, column = 'Hotel_Name'):
    odf = inDataFrame.loc[inDataFrame[column] == keyWord]
    odf = odf.iloc[np.random.choice(odf.shape[0], int(odf.shape[0] * sampleRatio))]
    
    return odf

In [15]:
coulmn=HotelUnclustered.columns
AllHotels=HotelUnclustered.Hotel_Name.unique()
selected_reviews=pd.DataFrame(columns=coulmn)

for Hotel in AllHotels:
    df=sampleFromDatFrame(HotelUnclustered,Hotel)
    selected_reviews=pd.concat([selected_reviews,df])

In [16]:
selected_reviews=selected_reviews.take([1,2,3,4,5,6,7,8],axis=1)

In [17]:
selected_reviews.head()

,Reviewer_Nationality,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
169,United Kingdom,36,1403,0,1,2.9,52.360576,4.915968
140,United Kingdom,0,1403,40,2,10.0,52.360576,4.915968
304,Australia,11,1403,9,1,7.1,52.360576,4.915968
234,United Kingdom,37,1403,66,1,10.0,52.360576,4.915968
407,United States of America,11,1831,27,3,9.2,51.491888,-0.194971

In [18]:
D = gower_distances(selected_reviews)
print(D)

[[ 0.          0.14673787  0.20678381 ...,  0.32430707  0.29069198
   0.40224414]
 [ 0.14673787  0.          0.18995406 ...,  0.3799032   0.39739793
   0.2799286 ]
 [ 0.20678381  0.18995406  0.         ...,  0.31642844  0.33392316
   0.32046033]
 ...,
 [ 0.32430707  0.3799032   0.31642844 ...,  0.          0.1701263
   0.22645389]
 [ 0.29069198  0.39739793  0.33392316 ...,  0.1701263   0.          0.24394861]
 [ 0.40224414  0.2799286   0.32046033 ...,  0.22645389  0.24394861  0.        ]]

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(D,annot=True,cbar=True,cmap="YlGnBu")
plt.title("Heat map of the distance vector")
plt.show()

In [ ]:
from sklearn.metrics import silhouette_score

In [ ]:
labels=np.zeros(D.shape[0])
sil_rating=np.array([])
for no_cluster in range(2, 15):
    M, C = kMedoids(D, no_cluster)
    
    for label in C:
        for point_idx in C[label]:
            labels[point_idx]=label
    
    sil_rating=np.append(sil_rating,silhouette_score(D,labels))

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.plot(range(2, 15),sil_rating)
plt.xlabel('No. of Cluster')
plt.ylabel('Silhouette Score')
plt.title("Silhoutte Score v/s Clusters");

In [ ]:
optimum_no_cluster=sil_rating.argmax()+2

In [ ]:
 M, C = kMedoids(D, optimum_no_cluster)